@model DestinationDream.tblPromoOffer

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/ChildLayout.cshtml";
}





<div class="row">
    <div class="col-4 m-5">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4><b>Add PromoOffer</b></h4>
                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />

                <div class="form-group">
                    @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />

                <div class="form-group">
                    @Html.LabelFor(model => model.ActiveFrom, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ActiveFrom, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ActiveFrom, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />

                <div class="form-group">
                    @Html.LabelFor(model => model.ActiveTo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ActiveTo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ActiveTo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10 m-3">
                        <input type="submit" value="Add" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="col-7 m-3">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Operations</th>
                    <th>Id</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>ActiveFrom</th>
                    <th>ActiveTo</th>

                </tr>
            </thead>
        </table>
    </div>


</div>

